body {
font-family: Arial;
background:#f5f5f5;
padding:20px;
}

.container {
max-width:800px;
margin:auto;
background:#fff;
padding:30px;
border-radius:6px;
}

.grid-2 {
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
}

input {
padding:10px;
border:1px solid #ccc;
border-radius:4px;
}

.btn {
background:#900020;
color:#fff;
padding:10px;
border:none;
cursor:pointer;
}